<!--views/layouts/footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5 class="foo">Contact Us: </h5>
                <div class="contact">
                    <p class="locale">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:kukusmart@info.com">contact-us@kukusmart.com</a>
                    </p>
                    <p class="locale">
                        <i class="fas fa-phone-square-alt"></i>
                        +255 009 009 009
                    </p>
                    <p class="locale">
                        <i class="fas fa-phone-square-alt"></i>
                        +255 009 009 109
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <h5 class="foo">Where we Are: </h5>
                <p class="locale">
                    KukuSmart HQ | House No. 446<br>
                    Mikocheni A, Senga,<br>
                    Dodoma, Tanzania
                </p>
            </div>
            <div class="col-sm">
                <h5 class="foo">Follow Us on: </h5>
                <div class="social">
                    <span><a href="https://www.facebook.com/KukuSmart"><i class="fab fa-facebook-square"></i></a></span>
                    <span><a href="https://www.youtube.com/KukuSmart"><i class="fab fa-youtube"></i></a></span>
                    <span><a href="https://www.instagram.com/KukuSmart"><i class="fab fa-instagram"></i></a></span>
                </div>
            </div>
        </div>
    </div>

</footer>