<!--views/layouts/head-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/bootstrap/dist/css/styles.css">
    <link rel="stylesheet" href="public/bootstrap/dist/css/fullpage.css">
    <link rel="stylesheet" href="public/bootstrap/dist/css/all.css">
    <link rel="stylesheet" href="public/bootstrap/dist/css/slick.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

    <title><%- title %></title>
