<!DOCTYPE html>
<html>
<head>

    <%- include ('partials/head.ejs') %>

</head>
<body>

    <%- include ('partials/headerProd.ejs') %>

    <div class="container">
        <h3 class="about"> About Us </h3>
        <div class="row ml-1">
            <div class="col-lg-6 col-md-6 col-sm">
                <div class="card about-us">
                    <div class="explained">
                        <i class="fa fa-eye-slash"></i>
                        <h4> Vision </h4>
                        <h5></h5>

                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm mr-auto">
                <div class="card about-us">
                    <div class="explained">
                        <i class="fa fa-bicycle"></i>
                        <h4> Mission </h4>
                        <h5></h5>

                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm mr-auto">
                <div class="card about-us">
                    <div class="explained">
                        <i class="fa fa-star"></i>
                        <h4> Purpose </h4>
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.ejs') %>

    <%- include ('partials/tail.ejs') %>

</body>

</html>