<!--views/pages/home-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs') %>
</head>
<body>

    <%- include ('partials/header.ejs') %>

    <div class="slides">
        <div class="slideshow">
            <img class="image" src="/public/images/img_a.jpg">
            <div class="container set">
                <div class="card more mx-auto">
                    <div class="card-body body-custom">
                        <h2>Welcome to KukuSmart Official Website </h2>
                        <p class="caption">Established several years ago with an aim of providing all solutions regarding
                            poultry farming <br> in East Africa and particularly in Tanzania
                        </p>

                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-primary my-2 my-sm-0 prod" type="submit">Register</button>

                            <button class="btn btn-info my-2 my-sm-0 prod" type="submit">Products</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow">
            <img class="image" src="/public/images/img_b.jpg">
            <div class="container set">
                <div class="card more mx-auto">
                    <div class="card-body body-custom">
                        <h2>Welcome to KukuSmart Official Website </h2>
                        <p class="caption">Established several years ago with an aim of providing all solutions regarding
                            poultry farming <br> in East Africa and particularly in Tanzania
                        </p>

                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-primary my-2 my-sm-0 prod" type="submit">Register</button>

                            <button class="btn btn-info my-2 my-sm-0 prod" type="submit">Products</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow">
            <img class="image" src="/public/images/img_c.jpg">
            <div class="container set">
                <div class="card more mx-auto">
                    <div class="card-body body-custom">
                        <h2>Welcome to KukuSmart Official Website </h2>
                        <p class="caption">Established several years ago with an aim of providing all solutions regarding
                            poultry farming <br> in East Africa and particularly in Tanzania
                        </p>

                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-primary my-2 my-sm-0 prod" type="submit">Register</button>

                            <button class="btn btn-info my-2 my-sm-0 prod" type="submit">Products</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow">
            <img class="image" src="/public/images/img_a.jpg">
            <div class="container set">
                <div class="card more mx-auto">
                    <div class="card-body body-custom">
                        <h2>Welcome to KukuSmart Official Website </h2>
                        <p class="caption">Established several years ago with an aim of providing all solutions regarding
                            poultry farming <br> in East Africa and particularly in Tanzania
                        </p>

                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-primary my-2 my-sm-0 prod" type="submit">Register</button>

                            <button class="btn btn-info my-2 my-sm-0 prod" type="submit">Products</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow">
            <img class="image" src="/public/images/img_c.webp">
            <div class="container set">
                <div class="card more mx-auto">
                    <div class="card-body body-custom">
                        <h2>Welcome to KukuSmart Official Website </h2>
                        <p class="caption">Established several years ago with an aim of providing all solutions regarding
                            poultry farming <br> in East Africa and particularly in Tanzania
                        </p>

                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-primary my-2 my-sm-0 prod" type="submit">Register</button>

                            <button class="btn btn-info my-2 my-sm-0 prod" type="submit">Products</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow">
            <img class="image" src="/public/images/img_b.jpg">
            <div class="container set">
                <div class="card more mx-auto">
                    <div class="card-body body-custom">
                        <h2>Welcome to KukuSmart Official Website </h2>
                        <p class="caption">Established several years ago with an aim of providing all solutions regarding
                            poultry farming <br> in East Africa and particularly in Tanzania
                        </p>

                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-primary my-2 my-sm-0 prod" type="submit">Register</button>

                            <button class="btn btn-info my-2 my-sm-0 prod" type="submit">Products</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="choose-us">
        <div class="container">
            <h1 class="why"> Why Choose KukuSmart? </h1>

            <div class="row motto">
                <div class="col-sm col-title">
                    Training Programs
                    <hr>

                    <div class="cont">
                        <p>
                            We offer training services on the areas of chicken breeding and
                            efficient modern facilities that enable poultry breeding such as Automatic
                            Egg Incubators, Feeders and Waterers, Vaccines, Vitamins and
                            nutritious foods for various poultry breeds at various stages.
                        </p>
                    </div>
                </div>


                <div class="col-sm col-title">
                    Sales of Quality Chicks
                    <hr>

                    <div class="cont">
                        <p>
                            We sell eggs of quality and a sample of them is tested for fertility
                            in our own incubators and their hatch rate is normally over 97%. Additionally, they are
                            subjected to modern means of keeping them hygienic.
                        </p>
                    </div>
                </div>

                <div class="col-sm col-title">
                    Sales of Quality Eggs
                    <hr>
                    <div class="cont">
                        <p>
                            We offer strong, healthy and vibrant poultry chicks of various breeds and of
                            various ages. We usually start selling the chicks when they are 3 days old in order to
                            ensure we vaccinate them and also to ensure that we are able to select and sell the
                            healthiest and the strongest chicks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonials">
        <div class="container">
            <h1 class="why"> Testimonials </h1>
            <div class="row motto">
                <div class="col-sm col-title">
                    <img class="avatar" src="/public/images/people_a.webp">
                    <p class="testm">
                        <b> Daniel - </b>I just wanted to share a quick note and let you know that you guys do a really
                        good job.
                        I’m glad I decided to work with you. It’s really great how easy your websites are to update and
                        manage. I never have any problem at all.
                    </p>
                </div>
                <div class="col-sm col-title">
                    <img class="avatar" src="/public/images/people_b.webp">
                    <p class="testm">
                        <b> Mosha - </b>I just wanted to share a quick note and let you know that you guys do a really
                        good job.
                        I’m glad I decided to work with you. It’s really great how easy your websites are to update and
                        manage. I never have any problem at all.
                    </p>
                </div>
                <div class="col-sm col-title">
                    <img class="avatar" src="/public/images/people_c.webp">

                    <p class="testm">
                        <b> Husna - </b>I just wanted to share a quick note and let you know that you guys do a really
                        good job.
                        I’m glad I decided to work with you. It’s really great how easy your websites are to update and
                        manage. I never have any problem at all.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="benefits mb-3">
        <div class="container">
            <div class="card benfts">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm">
                        <h3 class="ben-head"> Benefits </h3>
                        <p class="ben-text">
                            We can humbly say that we have accomplished a greater part of the objective having helped
                            thousands of
                            farmers in Tanzania.There is still a wide gap between the demand of poultry products and the
                            current
                            supply
                            in Tanzania.
                        </p>
                        <p class="ben-text">
                            If you wish to venture in Poultry farming, purchase an Incubator, Chicks, Feeds or any
                            poultry related
                            product. <br>
                            <button class="btn btn-dark my-2 my-sm-0 mx-4" type="submit">Contact Us Now
                            </button>
                        </p>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm">
                        <div class="container">
                        <div class="card newsletter">
                            <img class="news-pic" src="/public/images/img_b.jpg" alt="chicken">
                            <h5 class="sub"> Subscribe to our Weekly Newsletter</h5>

                            <div class="input-group mb-3 subscb">
                                <input type="text" class="form-control" placeholder="Enter Email"
                                    aria-label="Enter Email" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button"
                                        id="button-addon2">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <%- include ('partials/footer.ejs') %>
    <%- include ('partials/tail.ejs') %>

</body>
</html>