<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
</head>

<body>

    <%- include ('partials/headerProd.ejs') %>

    <div class="container baseline">
        <div class="input-group mb-3 search">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby=" button-addon2">
        </div>

        <div class="card offer">
            <div class="card-body">
                <h3 class="free">Free delivery for 30 days within Dar es Salaam Region </h3>
                <h4 class="empha">Offer is only valid for products that are within 50,000 Tshs Price Range</h4>
                <p class="learn"> Learn More <i class="fa fa-arrow-circle-right"></i> </p>
            </div>
        </div>

        <div class="containder items">
            <div class="row">
                <div class="col-4">

                </div>

                <div class="col-8">
                    
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.ejs') %>


</body>
</html>
